Carmen Alberte Nielsen <alcn@itu.dk>
Carmen Alberte Nielsen <alcn@itu.dk> Carmen Alberte
Carmen Alberte Nielsen <alcn@itu.dk> Carmen Alberte Nielsen <118437330+Carmish@users.noreply.github.com>

Casper Storm Frøding <csfr@itu.dk> Casper Frøding 
Casper Storm Frøding <csfr@itu.dk> Casper Storm
Casper Storm Frøding <csfr@itu.dk> Casper2411 <112485023+Casper2411@users.noreply.github.com>
Casper Storm Frøding <csfr@itu.dk> Casper2411 <ccaassppeerr2411@gmail.com>

Mads Christian Nørklit Jensen <macj@itu.dk> Mads Christian
Mads Christian Nørklit Jensen <macj@itu.dk> Mads Christian Nørklit Jensen <118435521+Noerklit@users.noreply.github.com>
Mads Christian Nørklit Jensen <macj@itu.dk> Mads Nørklit
Mads Christian Nørklit Jensen <macj@itu.dk> Noerklit <mchrnj@gmail.com>

Mathilde Julie Gonzalez-Knudsen <mgon@itu.dk> Mathilde Gonzalez-Knudsen
Mathilde Julie Gonzalez-Knudsen <mgon@itu.dk> Mathilde Julie
Mathilde Julie Gonzalez-Knudsen <mgon@itu.dk> Mathilde Julie Gonzalez-Knudsen <118437175+MathildeGonzalez@users.noreply.github.com>
Mathilde Julie Gonzalez-Knudsen <mgon@itu.dk> MathildeGonzalez <118437175+MathildeGonzalez@users.noreply.github.com>

Max Brix Koch <mbko@itu.dk>
Max Brix Koch <mbko@itu.dk> Max <118442868+wowholasa@users.noreply.github.com>
Max Brix Koch <mbko@itu.dk> Max Brix

LLM <none> Chat-GPT
LLM <none> Gemini.google.com