@page "/{username}"
@using Org.OpenAPITools.Models
@model UserTimelineModel
@{
  var routeName = HttpContext.GetRouteValue("username");
  var logged_in_user = HttpContext.Session.GetString("Logged_In_Username");
}

<h2>@routeName's Timeline</h2>
@if(logged_in_user != null)
{
  @if(logged_in_user.Equals(@routeName)){
    <div class=followstatus>
      This is you!
    </div>
  } 
  else if(Model.Followed)
  {
    <div class="followstatus">
      You are currently following this user.
      <a href="/@routeName/unfollow" class="unfollow">Unfollow user</a>.
    </div>
  }
  else
  {
    <div class="followstatus">
      You are not yet following this user.
      <a href="/@routeName/follow" class="follow">Follow user</a>.
    </div>
  }
}
<ul class="messages">
@if (Model.Messages != null) 
{
  @foreach (Message message in Model.Messages)
  {
  <li>
    <img src="@MiniTwit.Get_Gravatar_Url(message.User ?? "Default", 48)" />
    <p>
      <strong><a href="/@message.User">@message.User</a></strong>
      @message.Content
      <small>
        — @message.PubDate
      </small>
    </p>
  </li>
  }
}
else 
{
  <p><em>There's no message so far.</em></p>
}
</ul>